body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9; 
  color: #333; 
  line-height: 1.6;
}


.App {
  text-align: center;
}


main {
  min-height: calc(100vh - 100px); 
  padding: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

a:hover {
  color: #f77f00; 
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
  main {
    padding: 1rem;
  }
}
